body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: violet;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    font-size: 18px;
    color: #ff9900;
}

input[type="text"] {
    padding: 8px;
    border: none;
    border-bottom: 2px solid transparent;
}

input[type="text"]:focus {
    border-color: #007bff;
}

input[type="text"]:not(:placeholder-shown) {
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

a:active {
    font-weight: bold;
}